* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  height: 80px;
  width: 100%;
  box-shadow: 0 1px rgba(0,0,0,.2);
  grid-template-columns: 40px 40px;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 40px;
  width: 40px;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 60px;
  height: 40px;
}

.menu-item {
  padding: 5px 10px;
  display: inline-block;
  margin: 5px;
  border-radius: 25px;
}

.menu-item:hover {
  background: #e7e7e7;

}

.dropdown {
  display: flex;
  align-items: center;
}

svg {
  margin: 2px;
}

.sign-up {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
  border: 1px solid #EBEBEB;
}

.tab-container{
  display: flex;
  margin: 25px; 
}

.tab{
  font-size: 18px;
  margin: 8px;
}

.tab-tag{
  font-size: 12px;
  color: white;
  background: #FF385C;
  border-radius: 5px;
  padding: 4px;
  margin: 8px;
}

.search-tool{
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: calc(100% - 80px);
  border: 1px solid #EBEBEB;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  margin: 0 40px;
}

.search-field{
  display: block;
  width: 100%;
  font-size: 10px;
  padding: 20px;
  

}

.search-field:hover{
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;

}

.search-button{
  background: #FF385C;
  color: white;
  align-content: center;
  border-radius: 10px;
  padding: 4px;
  height: 60%;
  width: 40%;
  align-self: center;
  margin-right: 10px;

}

.search-input{
  border: transparent;
}

.search-input:focus{
  outline-width: 0;
}

h1{
  color: #FF385C;
  font-size: 30px;
  width: 50%;
  margin: 40px;
}

h2{
  font-size: 18px;
  color: black;
  padding: 10px 10px 0px;
}

h3{
  font-size: 12px;
  color: grey;
  padding: 5px 10px 20px;
}

.card-container{
  display: flex;
  margin-left: 40px;
  width: calc(100% - 80px);
  height: calc(width * 95%);
  justify-content: space-between;
}
.card-spacing{
  display: block;
  height: 100%;
  width: 100%;
}

.card-left{
  display: block;
  height: 100%;
  width: 95%;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.05);
}

.card-center{
  display: block;
  height: 100%;
  width: 95%;
  justify-content: center;
  border-radius: 15px 15px 15px 15px;
  margin-left: 2.5%;
  box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.05);
}

.card-right{
  display: block;
  height: 100%;
  width: 95%;
  justify-content: end;
  border-radius: 15px 15px 15px 15px;
  margin-left: 5%;
  box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.05);
}

.card-image{ 
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.card-text-left{
  display: block;
  width: 100%;
  height: 25%;
  background: white;
  border-radius: 0 0 15px 15px;
}

.card-text-center{
  display: block;
  width: 100%;
  height: 25%;
  background: white;
  border-radius: 0 0 15px 15px;
}

.card-text-right{
  display: block;
  width: 100%;
  height: 25%;
  background: white;
  border-radius: 0 0 15px 15px;
}

.black-bg{
  width: 100%;
  height: 800px;
  background: #000000;
  margin-top: 70px;
  z-index: 1;
}

.grid-container{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 14px;
  margin: 40px;
  width: calc(100% - 140px);
  height: 600px;
  background: grey;
}

.blk-big-card{
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.blk-small-card1{
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.blk-small-card2{
  grid-column: 3/4;
  grid-row: 1/2;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.blk-rect-card{
  grid-column: 2/4;
  grid-row: 2/3;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.blk-lrg{
  width: 100%;
  height: auto;
}

.blk-small{
  width: 100%;
  height: auto;
}

.blk-rect{
  width: 100%;
  height: auto;
}

.white-title{
  width: 40%;
  height: 80px;
  margin-left: 80px;
  margin-top: 80px;
  
}

h4{
  font-size: 30px;
  color: white;
}

p{
  font-size: 18px;
  color: white;
}